@font-face {
    font-family: vazir-black;
    src: url(assets/Vazirmatn-Black.ttf);
}
@font-face {
    font-family: vazir-regular;
    src: url(assets/Vazirmatn-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: vazir-regular;
    direction: rtl;
}
img{
    cursor: pointer;
    transition: 0.5s;
}
img:hover {
    transform: rotate(10deg) scale(1.2);
    box-shadow: 0 0 8px rgb(59, 59, 59);
}
h1 , h2{
    font-family: vazir-black;
}
main{
    background-color: rgb(47, 47, 47);
    border-radius: 70px 0 70px 0;
    padding: 0 !important;
}
.gp-right{
    color: rgb(47, 47, 47) !important;
    background-color: rgb(208, 175, 121);
    border-radius: 0 0 70px 0;
    box-shadow: -8px 0 3px rgba(0, 0, 0, 0.364);
    flex-direction: column;
}
.gp-left{
    color: white;
}

.gp-right h2{
    font-size: large;
    width: 80%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(47, 47, 47);
}
.gp-right img{
    border-radius: 500px;
}
.kerem{
    /* width: 80%; */
    color: rgb(208, 175, 121);
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(208, 175, 121);
}
.educational-gp-left{
    border-right: 2px solid rgb(208, 175, 121);
    padding-right: 1rem;
    margin-right: 1rem;
}
.title{
    font-weight: bold;
    font-size: larger;
}
.gp-lft{
    position: relative;
}
.circle{
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background-color: rgb(208, 175, 121);
    border: 2px solid white;
    position: absolute;
    top: 0px;
    left: calc(100% + 10px);
}
.dte{
    width: 200px;
    position: absolute;
    top: 0px;
    /* left: calc(100% + 15px); */
    left: calc(100% - 70px);
}
.educational-gp-right{
    flex: 1;
}
.educational-gp-left{
    flex: 5;
}
.aboutme , .work-experience , .educational-records{
    margin-bottom: 3rem;
}
img , .name , .call , .skills{
    margin-bottom: 70px;
}